name: GitHub Metrics

on:
  schedule:
    - cron: "0 0 * * *" # once per day
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: mtrong100

          # Base sections
          base: header, activity, community, repositories

          # Languages
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_limit: 8
          plugin_languages_details: bytes-size, percentage

          # Achievements
          plugin_achievements: yes
          plugin_achievements_threshold: C
          plugin_achievements_display: compact

          # Coding habits
          plugin_habits: yes
          plugin_habits_days: 14
          plugin_habits_facts: yes

          # Config
          config_timezone: Asia/Ho_Chi_Minh
          config_display: large
